# Dependencies
node_modules/

# Build
dist/
*.local
tsconfig.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*

# Android
android/app/build/
android/build/
android/.gradle/
*.apk
*.aab

# Capacitor
android/capacitor.build.json
